#fondo {
    background-color: rgba(100, 100, 255, 0.5);
    width: 300px;
    height: 200px;
    border: 3px solid black;
    padding: 10px;
    margin-bottom: 20px;
  }

  .medida-absoluta {
    width: 400px;            
    font-size: 20px;           
    border: 2px dashed green; 
    padding: 10px;
    margin-bottom: 20px;
  }

  .medida-relativa {
    width: 50%;               
    font-size: 1.5em;        
    border: 4px dotted crimson; 
    padding: 10px;
  }

  body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }